.calculator {
  width: 100%;
  height: 100%;
  text-align: center;

  &-title {
    font-family: "Finger Paint", cursive;
    font-size: 4rem;
    margin-top: 4rem;
    @media (max-width: 960px) {
      font-size: 3rem;
    }
  }
  &_sub-title {
    padding: 3rem;
    line-height: 2rem;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 960px) {
      flex-direction: column-reverse;
    }
    img {
      @media (max-width: 1460px) {
        margin-top: 3rem;
        height: 25rem;
      }
      @media (max-width: 960px) {
        margin-top: 3rem;
        height: 20rem;
      }
      @media (max-width: 485px) {
        height: 16rem;
      }
    }
  }
  &-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    // padding: 2rem;
    color: white;
    p {
      font-weight: bold;
      font-size: 1.5rem;
      margin: 2rem 0;
      @media (max-width: 1224px) {
        font-size: 1.2rem;
      }
    }
    &_1 {
      background-color: #f1b834;
      border-radius: 2rem;
      width: 35rem;
      padding: 1rem 0 2rem 0;
      @media (max-width: 600px) {
        width: 30rem;
      }
      @media (max-width: 485px) {
        width: 22rem;
        padding: 1rem;
      }

      p {
        font-weight: bold;
        font-size: 1.5rem;
         margin: 1rem 1rem 2rem 1rem;
         line-height: 2rem;

        @media (max-width: 600px) {
          font-size: 1.2rem;
        }
      }
      select {
        font-family: "Comfortaa", cursive;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        border-radius: 10%;
        padding: 0.4rem 1rem;
        margin: 0 1rem;
        text-align: center;
      }
    }
    &_2 {
      background-color: #6ab0c3;
      border-radius: 2rem;
      width: 35rem;
      margin-top: 1rem;
      padding: 1rem 1rem 2rem 1rem;
      &-inputs {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 485px) {
          display: flex;
          flex-direction: column;
        }
        &-quantity {
          margin-top: 0.5rem;
        }
      }
      @media (max-width: 600px) {
        width: 30rem;
      }
      @media (max-width: 485px) {
        width: 22rem;
        padding: 1rem;
      }
      p {
        font-weight: bold;
        font-size: 1.5rem;
        margin: 1rem 1rem 2rem 1rem;
        line-height: 2rem;

        @media (max-width: 600px) {
          font-size: 1.2rem;
        }
      }

      label {
        margin-right: 0.6rem;
        @media (max-width: 600px) {
          margin-right: 0.5rem;
        }
      }
      input {
        border: none;
        padding-top: 0.6rem;
        margin-right: 0.5rem;
        text-align: center;
        font-size: 1rem;
        width: 7rem;
        border-radius: 5px;
        @media (max-width: 600px) {
          width: 7rem;
          margin-right: 0.5rem;
        }
      }
      input[type="number"] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
      }
      input:focus {
        outline: none;
      }

      select {
        font-family: "Comfortaa", cursive;
        font-weight: bold;
        background-color: #ffffff;
        transform: translateY(-0.4rem);
        border-radius: 10%;
        padding: 0.4rem 1rem;
      }
    }

    &_3 {
      margin-top: 1rem;
      background-color: #d86766;
      border-radius: 2rem;
      width: 35rem;
      padding: 1rem 1rem 2rem 1rem;
      @media (max-width: 600px) {
        width: 30rem;
      }
      @media (max-width: 485px) {
        width: 22rem;
        padding: 1rem;
      }
      p{
        margin: 1rem 1rem 2rem 1rem;
        line-height: 2rem;

      }
      select {
        font-family: "Comfortaa", cursive;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        border-radius: 10%;
        padding: 0.4rem 1rem;
        margin: 0 1rem;
        text-align: center;
      }
    }
  }

  &-buttons {
    margin: 2rem 0;
    text-align: center;
    button {
      font-size: 1.2rem;
      background-color: #8760a6;
      font-family: "Comfortaa", cursive;
      border-radius: 5px;
      border: none;
      color: white;
      padding: 1rem;
      margin-left: 1rem;
    }
  }
}

.new-ingredient {
  text-align: center;
  margin: 2rem 0;
  background-color: rgb(36, 103, 198);
  border-radius: 2rem;
  width: 35rem;
  color: white;
  @media (max-width: 600px) {
    width: 30rem;
  }
  @media (max-width: 485px) {
    width: 22rem;
  }
  h2 {
    padding-top: 1rem;
    @media (max-width: 485px) {
      font-size: 1.2rem;
    }
  }
  padding: 1.5rem 0rem;
  &-result {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    font-weight: bold;
    margin-right: 1rem;
  }
}
