.why{
  width: 100%;
  height: 100%;

  &-title{
    text-align: center;
    font-family: 'Finger Paint', cursive;
    font-size: 2rem;
    margin-top: 4rem;
    @media (max-width: 960px) {
      font-size: 1.5rem;
    }
    
 }
  &-container{
    width: 100%;
    overflow-x: hidden;
    display: flex;  
    justify-content: center;  
    flex-wrap: wrap;
    margin-top: 3rem;
    
 }
  &-description{
  width: 50rem;
  padding: 3rem;
  line-height: 3rem;
   margin-right: 6rem;
   @media (max-width: 960px) {
    margin-right: 0rem;
  }
  }

 &-logo{
  font-family: 'Finger Paint', cursive;
  font-size: 2rem;
 }
 p{
   margin-bottom: 2rem;
 }
}

// .why-balls{
  
//   width: 30rem;
//   margin-top: 5rem;
//   &-1{
//     z-index: -2;
//     position: absolute;
//     height:30rem;
//     width: 30rem;
//     background-color: rgb(255, 196, 0);
//     border-radius: 50%;
//     transform: translateY(-5rem);
//   }
//   &-2{
//     z-index: -1;
//     position: absolute;
//     height:19rem;
//     width: 19rem;
//     background-color: rgb(255, 116, 51);
//     border-radius: 50%;
//   }
// }