*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 64,5%;
  font-family: 'Comfortaa', cursive;
}
a{
  text-decoration: none;  
  color: black;
}

@import './nav';
@import './header';